<a href="https://colab.research.google.com/github/dcdesmond/colab-notebooks/blob/master/Allen_Downey_Think_Stats_2_Chapter_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a template for executing exercises and programs from [Allen Downey's Think Stats 2][1] from [Green Tea Press][2] 

Below are some data analysis packages that will be necessary.

[1]: http://greenteapress.com/thinkstats2/thinkstats2.pdf
[2]: https://greenteapress.com/wp/

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import scipy as sp
import statsmodels as sm

We will also need to clone the repository for the book into this notebook.

Note: if you get a result saying ```fatal: destination path 'ThinkStats2' already exists and is not an empty directory.``` then this is not a problem; it simply means the repository has already been cloned into the notebook by default as a result of me making the template.

In [3]:
!git clone https://github.com/AllenDowney/ThinkStats2.git

Cloning into 'ThinkStats2'...
remote: Enumerating objects: 2715, done.
remote: Total 2715 (delta 0), reused 0 (delta 0), pack-reused 2715
Receiving objects: 100% (2715/2715), 172.16 MiB | 29.32 MiB/s, done.
Resolving deltas: 100% (1542/1542), done.
Checking out files: 100% (482/482), done.

We will need to be in the correct section of the repository to use the files. The cell below will ensure this, if you're starting fresh.

At any time, you may use the following commands in the cells to navigate the local directory:

```pwd```: prints working directory

```ls```: lists directory contents

```cd```: changes directory to a subdirectory, which would be listed by the ```ls``` command

All Colab notebooks begin in the ```/content``` directory, in which they have only one subdirectory, ```sample_data```. From this initial directory, the command below will put us where we need to be. If there are any irregularities, simply go to the top, click Runtime > Factory Reset Runtime > Yes, and then run all cells again.

In [4]:
cd ThinkStats2/code

/content/ThinkStats2/code

The following command can be run to ensure that the repository has been successfully cloned and all packages have successfully loaded.

In [5]:
!python nsfg.py

(13593, 244)
All tests passed.



---

In [0]:
import nsfg

In [0]:
df = nsfg.ReadFemPreg()

In [9]:
df

       caseid  pregordr  howpreg_n  ...  sest  cmintvw  totalwgt_lb
0           1         1        NaN  ...     9      NaN       8.8125
1           1         2        NaN  ...     9      NaN       7.8750
2           2         1        NaN  ...    12      NaN       9.1250
3           2         2        NaN  ...    12      NaN       7.0000
4           2         3        NaN  ...    12      NaN       6.1875
...       ...       ...        ...  ...   ...      ...          ...
13588   12571         1        NaN  ...    78      NaN       6.1875
13589   12571         2        NaN  ...    78      NaN          NaN
13590   12571         3        NaN  ...    78      NaN          NaN
13591   12571         4        NaN  ...    78      NaN       7.5000
13592   12571         5        NaN  ...    78      NaN       7.5000

[13593 rows x 244 columns]

In [10]:
df.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [11]:
df.columns[1]

'pregordr'

In [0]:
pregordr = df['pregordr']

In [14]:
type(pregordr)

pandas.core.series.Series

In [15]:
pregordr

0        1
1        2
2        1
3        2
4        3
        ..
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

In [16]:
pregordr[0]

1

In [17]:
pregordr[2:5]

2    1
3    2
4    3
Name: pregordr, dtype: int64

In [0]:
pregordr = df.pregordr

In [20]:
df.outcome.value_counts().sort_index()

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

In [33]:
df.birthwgt_lb.value_counts(sort=False)
#this output doesn't seem to match the book

8.0     1889
7.0     3049
6.0     2223
4.0      229
5.0      697
10.0     132
12.0      10
14.0       3
3.0       98
1.0       40
2.0       53
0.0        8
9.0      623
11.0      26
13.0       3
15.0       1
Name: birthwgt_lb, dtype: int64

In [40]:
caseid = 10229
df = nsfg.ReadFemPreg()
preg_map = nsfg.MakePregMap(df)
indices = preg_map[caseid]
df.outcome[indices].values

array([4, 4, 4, 4, 4, 4, 1])